@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500&display=swap");

body {
    margin: 0;
    font-family: "Alegreya Sans", "Times New Roman", Times, serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header {
    
    position: absolute;
    background: #E8DCC6;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
}

header .logo {
    height: 60px;
    line-height: 60px;
    float: left;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    color: rgb(83, 83, 83);
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover,
header nav ul li a.active {
    color: #ffffff;
    background-color: #aaaaaa;
}

.tengah {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.menu-toggle {
    color: rgb(94, 94, 94);
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/* responsive */

@media (max-width: 650px) {
    header {
        padding: 0 20px;
    }

    .menu-toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #E8DCC6;
        top: 50px;
        left: -100%;
        transition: 0.5s all;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        color: black;
    }
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 15px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 20px;
    color: #111;
}
.footer-bottom{
    background: #aaaaaa;
    padding: 2px;
    padding-bottom: 2px;
    text-align: center;
    color: #111;
}

* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 0px 50px  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column2 {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row2:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .column2 {
      width: 100%;
    }
  }
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }